# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
mlEnv/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local OS/editor files
.DS_Store
.vscode/
.idea/

# Data files
data/*.csv
data/*.parquet
data/raw/
data/processed/*
!data/.gitkeep
!data/processed/.gitkeep

# Model and experiment artifacts
models/
mlruns/
artifacts/
mlflow.db

# Logs and reports
*.log
reports/

# Feast databases and lock files
data/*.db
data/*.db*

fraud_detection_implementation_plan.html